@import "tailwindcss";

@theme {
	/* Fonts */
	--font-sans: "Inter", sans-serif;
	--font-mono: "Space Mono", monospace;

	/* Colors */
	--color-cream: #fdfbf7;
	--color-bronze: #8c5a2e;
	--color-black: #050505;
	--color-gray-border: #e5e5e5;
}

@layer base {
	body {
		@apply bg-cream text-black font-sans antialiased;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply font-mono;
	}
}
